<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add an Ad :: Bulletin Board</title>
  </head>
  <body>
    <h1>Addition of an Ad</h1>
    <div>
      <a href="{% url 'index' %}">HomePage</a>
      <a href="{% url 'add' %}">Add</a>
      {% for rubric in rubrics %}
      <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
      {% endfor %}
    </div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Add">
    </form>
  </body>
</html>